### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
pd_df=[]
pd_df=purchase_data
#pd_df.dtypes

## Player Count

* Display the total number of players

In [2]:
pd_count = pd_df['SN'].nunique()
pd_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
summary_df = []
data = {'Number of Unique Items':[pd_df['Item ID'].nunique()], 
        'Average Price': [pd_df['Price'].mean()],
        'Number of Purchases' : [pd_df['Purchase ID'].count()],
        'Total Revenue':[pd_df['Price'].sum()]} 
summary_df = pd.DataFrame.from_dict(data)
summary_df =summary_df.style.format({'Total Revenue': '${:,.2f}','Average Price': '${:,.2f}'})
summary_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
demographics = pd_df.groupby('Gender', as_index=True)['Purchase ID'].count()
demographics_df= pd.DataFrame(demographics)

demographics_df=demographics_df.rename(columns ={'Purchase ID':'Total Count'})
tot_player = demographics_df['Total Count'].sum()
demographics_df['Percentage of Players'] = demographics_df['Total Count']/tot_player
demographics_df=demographics_df.style.format({'Percentage of Players': '{:.2%}'})
demographics_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
grpby_gender = pd_df.groupby('Gender')
Purchase_Count = grpby_gender['Purchase ID'].count()
Average_Price = grpby_gender['Price'].mean()
tot_purchase = grpby_gender['Price'].sum()
count_gender = grpby_gender.nunique()["SN"]
Average_Price_Per_Person= tot_purchase/count_gender
purchasing_analysis_df = pd.DataFrame(Purchase_Count)
purchasing_analysis_df=purchasing_analysis_df.rename(columns ={'Purchase ID':'Total Count'})
purchasing_analysis_df["Average Price"] = Average_Price
purchasing_analysis_df["Total Purchase Value"] = tot_purchase
purchasing_analysis_df["Avg Total Purchase per Person"] = Average_Price_Per_Person
purchasing_analysis_df

,Total Count,Average Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [29]:
bins = [-1,9,14,19,24,29,34,39,1000000]
grp_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
pd_df["Age Group"]= pd.cut(pd_df['Age'], bins, labels = grp_names)

grpby_agegrp = pd_df.groupby(['Age Group'])
total_count_age = grpby_agegrp["SN"].nunique()
percentage_by_age = (total_count_age/pd_count) 
age_demo_df = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

#age_demo_df = pd.DataFrame(grpby_agegrp)
#age_demo_df["Percentage of Players"] = age_demo_df["Purchase ID"]/pd_count
#age_demo_df=age_demo_df.rename(columns ={'Purchase ID':'Total Count'})
age_demo_df=age_demo_df.style.format({'Percentage of Players': '{:.2%}'})

age_demo_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:

Average_Price = grpby_agegrp['Price'].mean()
purch_count= grpby_agegrp['Purchase ID'].count()
tot_purchase = grpby_agegrp['Price'].sum()
count_age = grpby_agegrp.nunique()["SN"]
Average_Price_Per_Person= tot_purchase/count_age
purch_analysis_df = pd.DataFrame({"Purchase Count":purch_count,
                                  "Average Purchase Price": Average_Price,
                                  "Total Purchase Value":tot_purchase,
                                  "Avg Total Purchase per Person":Average_Price_Per_Person})
purch_analysis_df =purch_analysis_df.style.format({'Average Purchase Price': '${:,.2f}',
                                                  'Total Purchase Value': '${:,.2f}',
                                                  'Avg Total Purchase per Person': '${:,.2f}'  
                                                  })

purch_analysis_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [70]:
grpby_SN = pd_df.groupby(['SN'])
purch_count = grpby_SN['Purchase ID'].count()
Average_Price = grpby_SN['Price'].mean()
tot_price = grpby_SN['Price'].sum()
grpby_SN_df = pd.DataFrame({"Purchase Count":purch_count,
                                  "Average Purchase Price": Average_Price,
                                  "Total Purchase Value":tot_price,
                                  })
grpby_SN_df=grpby_SN_df.sort_values(by=['Total Purchase Value'],ascending=False)
grpby_SN_df["Average Purchase Price"] = grpby_SN_df["Average Purchase Price"].map('${:,.2f}'.format)
grpby_SN_df["Total Purchase Value"] = grpby_SN_df["Total Purchase Value"].map('${:,.2f}'.format)
grpby_SN_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [144]:
#new = old.drop('B', axis=1)
#price_df=pd_df.filter(["Item ID","Price","Item Name"],axis=1)
#price_df.set_index("Item ID")
grpby_items = pd_df.groupby(['Item ID','Item Name'])
purch_count = grpby_items['Purchase ID'].count()
tot_price = grpby_items['Price'].sum()
tot_price = tot_price.astype('int')
purch_price=tot_price/purch_count
grpby_items_df = pd.DataFrame({"Purchase Count":purch_count,"Item Price":purch_price,"Total Purchase Value":tot_price,})

grpby_items_df=grpby_items_df.sort_values(by=['Purchase Count'],ascending=False)
grpby_items_df["Item Price"] = grpby_items_df["Item Price"].map('${:,.2f}'.format)
#grpby_items_df["Total Purchase Value"] = grpby_items_df["Total Purchase Value"].map('${:,.2f}'.format)
#grpby_items_df =grpby_items_df.style.format({'Total Purchase Value': '${:,.2f}'})
grpby_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.17,50
145,Fiery Glass Crusader,9,$4.56,41
108,"Extraction, Quickblade Of Trembling Hands",9,$3.44,31
82,Nirvana,9,$4.89,44
19,"Pursuit, Cudgel of Necromancy",8,$1.00,8

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [149]:

most_prof_df=grpby_items_df.sort_values(['Total Purchase Value'],ascending=False)

most_prof_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.17,50
82,Nirvana,9,$4.89,44
145,Fiery Glass Crusader,9,$4.56,41
92,Final Critic,8,$4.88,39
103,Singed Scalpel,8,$4.25,34